/**************************/
/* HEADER */
/**************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-hero-bg);

    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.header-img {
    height: 2.4rem;
}

/**************************/
/* NAVIGATION*/
/**************************/
.main-nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 4.4rem;
}

.main-nav-links:link,
.main-nav-links:visited {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    transition: all 0.3s;
}

.main-nav-links:hover,
.main-nav-links:active {
    color: var(--btn-full-bg);
}

.main-nav-links:is(.nav-cta) {
    background-color: var(--btn-full-bg);
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
}

.main-nav-links:is(.nav-cta):hover {
    background-color: var(--btn-full-hover-bg);
}

/**************************/
/* MOBILE NAVIGATION */
/**************************/
.btn-menu-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.btn-menu {
    width: 4.4rem;
    height: 4.4rem;
    color: #333;
}

.btn-menu[name="close"] {
    display: none;
}

/**************************/
/* STICKY NAVIGATION */
/**************************/

.sticky {
position: sticky;
left: 0;
top: 0;
width: 100%;
height: 8rem;
background-color: rgba(255, 255, 255, 0.95);
padding-top: 0;
padding-bottom: 0;
z-index: 1000;
box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);

}

.sticky .section-hero{
    margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/
.section-hero {
    background-color: var(--section-hero-bg);
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin-inline: auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9.6rem;
    align-items: center;
}


.hero-description {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 4.8rem;
    line-height: 1.5;
}


.hero-img {
    width: 100%;
}

.delivered-meal {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
}

.delivered-img {
    display: flex;
}

.delivered-img img {
    height: 4.8rem;
    border-radius: 50%;
    border: 2px solid var(--section-hero-bg);
}

.delivered-img img:not(:last-of-type) {
    margin-right: -1.6rem;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-text span {
    color: #e67e22;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/
.section-feature {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-feature-in {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 2.4rem;
    color: #999;
}

.logo-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 0.5;
}

/**************************/
/* SECTION HOW IT WORK*/
/**************************/

.section-how {
    padding: 9.6rem 0;
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.7;
}

.step-img-box {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.step-img-box::before,
.step-img-box::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;


}

.step-img-box::before {
    background-color: #fdf2e9;
    width: 60%;
    padding-bottom: 60%;
    z-index: -2;
}

.step-img-box::after {
    width: 50%;
    padding-bottom: 50%;
    background-color: #fae5d3;
    z-index: -1;
}


.step-img {
    width: 34%;
}


/**************************/
/* MEALS SECTION */
/**************************/

.section-meal {
    padding: 9.6rem;
}

.meal {
    box-shadow: 0 2.4rem 4.4rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.5s;

}

.meal:hover {

    transform: translateY(-2rem);
    box-shadow: 0 3.6rem 5.2rem rgba(0, 0, 0, 0.06);

}

.meal-img {
    width: 100%;
}

.meal-content {
    margin: 3.2rem 4.8rem 4.8rem 4.8rem;
}


.meal-tag {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.5rem;
}

.tag {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    border-radius: 100px;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 2.4rem;
}

.meal-attributes {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.meal-attribute {
    font-size: 1.8rem;
    font-weight: 400;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.meal-icon {
    color: var(--btn-full-bg);

    font-size: 2.4rem;
}

.diet-lists {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.diet-list {
    font-size: 1.8rem;
    display: flex;
    align-items: start;
    gap: 1.2rem;
    line-height: 1.5;

}

.diet-icon {
    color: var(--btn-full-bg);
    font-size: 23px;
}

.all-recipes {
    text-align: center;

    font-size: 1.8rem;
}

.link:link,
.link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--btn-full-bg);
    border-bottom: 1px solid currentColor;
    padding: 0.2rem;
    transition: all 0.5s;
}

.link:hover,
.link:visited {
    color: var(--btn-full-hover-bg);
    border-bottom: 1px transparent;
}

/*************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
    background-color: var(--section-hero-bg);
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;

}

.testimonial-container {
    padding: 9.6rem;
}

.textimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.4rem;
    row-gap: 8rem;
    margin-bottom: 8rem;
}


.testimonial-img {
    width: 4.8rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.2rem;
}

.testimonial-name {
    font-size: 1.6rem;
    color: #6f6f6f;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    align-content: center;
}

.gallery-item {
    overflow: hidden;
}

.gallery-img {
    width: 100%;
    display: block;
    transition: all 0.5s;
}

.gallery-img:hover {
    transform: scale(1.1);
}

/*************************/
/* PRICING SECTION */
/**************************/

/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */


.section-pricing {
    padding: 9.6rem 0;
}

.pricing-plan {
    width: 70%;
    padding: 4.8rem;
    border-radius: 11px;
    transition: all 0.4s;

}

.pricing-plan:first-of-type {
    justify-self: end;
    border: 2px solid var(--section-hero-bg);
}

.pricing-plan:last-of-type {
    background-color: var(--section-hero-bg);
    position: relative;
    overflow: hidden;
}

.pricing-plan:last-of-type::after {
    content: "best value";
    position: absolute;
    top: 3rem;
    right: -6rem;
    transform: rotate(30deg);

    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffd43b;
    color: #333;
    padding: 0.8rem 8rem;
}

.pricing-plan:hover {
    transform: translateY(-1rem);

}

.plan-heading {
    text-align: center;
    margin-bottom: 3.2rem;
}

.plan-name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--btn-full-bg);
    text-transform: uppercase;
    margin-bottom: 2.4rem;
}

.plan-price {
    font-size: 6.2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 2.4rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.6rem;
    line-height: 1.5;
}

.sign-up-btn {
    text-align: center;
    margin-top: 4.8rem;
}

/*** FEARTURE CONTAINER ***/

.feature-icon {
    color: var(--btn-full-bg);
    font-size: 3rem;
    margin-bottom: 3.2rem;

    background-color: var(--section-hero-bg);
    padding: 1rem;
    border-radius: 50%;

}

.feature-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1.6rem;
}

.feature-text {
    font-size: 1.8rem;
    line-height: 1.5;
}

/*************************/
/* CALL-TO-ACTION  SECTION */
/**************************/

.section-cta {
    padding: 4.8rem 0 12.8rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;

    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    border-radius: 11px;
    overflow: hidden;

    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
}

.cta *:focus {
    outline: none;

    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}


.cta-text-box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.cta .heading-secondary {
    color: #45260a;
    margin-bottom: 3.2rem;
}

.cta-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.cta-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    row-gap: 3.2rem;
}

label {
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

input,
select {
    width: 100%;
    font-size: 1.8rem;
    padding: 1.2rem;
    border: none;
    font-family: inherit;
    border-radius: 9px;
    background-color: #fdf2e9;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.cta input::placeholder {
    color: #aaa;
}

.cta-img-box {
    background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.3),
            rgba(230, 125, 34, 0.3)),
        url(../images/eating.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*************************/
/* FOOTER SECTION */
/**************************/

.footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
}

.footer *:focus {
    box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
    transition: all 0.3s;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr) repeat(3, 1fr);
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    margin-bottom: 3.2rem;
}

.logo-col-social {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.logo-col-social li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #777;
}

.logo-col-copyright {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767676;
    margin-top: auto;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
    color: #333;
}

.Contact {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
}

.Contact .address {
    margin-bottom: 3.2rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
}